<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.mapper.ErpMaterialInfoMapper">
    <resultMap id="ErpMaterialInfoResult" type="ErpMaterialInfo">
        <result property="id" column="id" />
        <result property="creatTime" column="creat_time" />
        <result property="updateTime" column="update_time" />
        <result property="drawingReference" column="drawing_reference" />
        <result property="mouldNumber" column="mould_number" />
        <result property="specificationName" column="specification_name" />
        <result property="cavityCount" column="cavity_count" />
        <result property="materialType" column="material_type" />
        <result property="standardCode" column="standard_code" />
        <result property="singleWeight" column="single_weight" />
        <result property="mouldStatus" column="mould_status" />
        <result property="mouldManufacturer" column="mould_manufacturer" />
        <result property="cycleTime" column="cycle_time" />
        <result property="sampleLocation" column="sample_location" />
        <result property="remarks" column="remarks" />
        <result property="spareCode" column="spare_code" />
        <result property="purchased" column="purchased" />
    </resultMap>
    <sql id="selectErpMaterialInfo">
        select
            m.id,
            m.creat_time,
            m.update_time,
            m.drawing_reference,
            m.mould_number,
            m.specification_name,
            m.cavity_count,
            m.material_type,
            m.standard_code,
            m.single_weight,
            mould.status as mould_status,
            m.mould_manufacturer,
            m.cycle_time,
            m.sample_location,
            m.remarks,
            m.spare_code,
            (case when p.id is not null then 1 else 0 end) as purchased
        from erp_material_info m
            left join erp_purchase_info p on m.id = p.material_id
            left join erp_mould mould on m.mould_number = mould.mould_number
    </sql>
    <insert id="insertErpMaterialInfo" useGeneratedKeys="true" keyProperty="id">
        insert into erp_material_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="creatTime != null">
                creat_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="drawingReference != null">
                drawing_reference,
            </if>
            <if test="mouldNumber != null">
                mould_number,
            </if>
            <if test="specificationName != null">
                specification_name,
            </if>
            <if test="cavityCount != null">
                cavity_count,
            </if>
            <if test="materialType != null">
                material_type,
            </if>
            <if test="standardCode != null">
                standard_code,
            </if>
            <if test="singleWeight != null">
                single_weight,
            </if>
            <if test="mouldStatus != null">
                mould_status,
            </if>
            <if test="mouldManufacturer != null">
                mould_manufacturer,
            </if>
            <if test="cycleTime != null">
                cycle_time,
            </if>
            <if test="sampleLocation != null">
                sample_location,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="spareCode != null">
                spare_code,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="creatTime != null">
                #{creatTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="drawingReference != null">
                #{drawingReference},
            </if>
            <if test="mouldNumber != null">
                #{mouldNumber},
            </if>
            <if test="specificationName != null">
                #{specificationName},
            </if>
            <if test="cavityCount != null">
                #{cavityCount},
            </if>
            <if test="materialType != null">
                #{materialType},
            </if>
            <if test="standardCode != null">
                #{standardCode},
            </if>
            <if test="singleWeight != null">
                #{singleWeight},
            </if>
            <if test="mouldStatus != null">
                #{mouldStatus},
            </if>
            <if test="mouldManufacturer != null">
                #{mouldManufacturer},
            </if>
            <if test="cycleTime != null">
                #{cycleTime},
            </if>
            <if test="sampleLocation != null">
                #{sampleLocation},
            </if>
            <if test="remarks != null">
                #{remarks},
            </if>
            <if test="spareCode != null">
                #{spareCode},
            </if>
        </trim>
    </insert>
    <update id="updateErpMaterialInfo">
        update erp_material_info
        <set>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="drawingReference != null">
                drawing_reference = #{drawingReference},
            </if>
            <if test="mouldNumber != null">
                mould_number = #{mouldNumber},
            </if>
            <if test="specificationName != null">
                specification_name = #{specificationName},
            </if>
            <if test="cavityCount != null">
                cavity_count = #{cavityCount},
            </if>
            <if test="materialType != null">
                material_type = #{materialType},
            </if>
            <if test="standardCode != null">
                standard_code = #{standardCode},
            </if>
            <if test="singleWeight != null">
                single_weight = #{singleWeight},
            </if>
            <if test="mouldStatus != null">
                mould_status = #{mouldStatus},
            </if>
            <if test="mouldManufacturer != null">
                mould_manufacturer = #{mouldManufacturer},
            </if>
            <if test="cycleTime != null">
                cycle_time = #{cycleTime},
            </if>
            <if test="sampleLocation != null">
                sample_location = #{sampleLocation},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="spareCode != null">
                spare_code = #{spareCode},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteErpMaterialInfoById">
        delete from erp_material_info where id = #{id}
    </delete>
    <delete id="deleteErpMaterialInfoByIds">
        delete from erp_material_info
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="deleteErpMaterialInfoDrawingReferenceById">
        update erp_material_info
        set drawing_reference = null
        where id = #{id}
    </update>
    <select id="selectErpMaterialInfoList" resultMap="ErpMaterialInfoResult">
        <include refid="selectErpMaterialInfo"/>
        <where>
            <if test="id != null">
                and m.id like concat('%', #{id}, '%')
            </if>
            <if test="creatTime != null">
                and DATE(m.creat_time) = DATE(#{creatTime})
            </if>
            <if test="updateTime != null">
                and m.update_time = #{updateTime}
            </if>
            <if test="drawingReference != null and drawingReference != ''">
                and m.drawing_reference like concat('%', #{drawingReference}, '%')
            </if>
            <if test="mouldNumber != null and mouldNumber != ''">
                and m.mould_number like concat('%', #{mouldNumber}, '%')
            </if>
            <if test="specificationName != null and specificationName != ''">
                and m.specification_name like concat('%', #{specificationName}, '%')
            </if>
            <if test="cavityCount != null">
                and m.cavity_count = #{cavityCount}
            </if>
            <if test="materialType != null and materialType != ''">
                and m.material_type like concat('%', #{materialType}, '%')
            </if>
            <if test="standardCode != null and standardCode != ''">
                and m.standard_code like concat('%', #{standardCode}, '%')
            </if>
            <if test="singleWeight != null">
                and m.single_weight = #{singleWeight}
            </if>
            <if test="mouldStatus != null and mouldStatus != ''">
                and mould_status like concat('%', #{mouldStatus}, '%')
            </if>
            <if test="mouldManufacturer != null and mouldManufacturer != ''">
                and m.mould_manufacturer like concat('%', #{mouldManufacturer}, '%')
            </if>
            <if test="cycleTime != null">
                and m.cycle_time = #{cycleTime}
            </if>
            <if test="sampleLocation != null and sampleLocation != ''">
                and m.sample_location like concat('%', #{sampleLocation}, '%')
            </if>
            <if test="remarks != null and remarks != ''">
                and m.remarks like concat('%', #{remarks}, '%')
            </if>
            <if test="spareCode != null and spareCode != ''">
                and m.spare_code like concat('%', #{spareCode}, '%')
            </if>
            <if test="purchased != null">
                <choose>
                    <when test="purchased">
                        and p.id is not null
                    </when>
                    <otherwise>
                        and p.id is null
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>
    <select id="selectErpMaterialInfoById" resultMap="ErpMaterialInfoResult">
        <include refid="selectErpMaterialInfo"/>
        where m.id = #{id}
    </select>
    <select id="selectErpMaterialInfoListByIds" resultType="com.ruoyi.web.domain.ErpMaterialInfo">
        <include refid="selectErpMaterialInfo"/>
        where m.id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="selectByMaterialType" resultType="com.ruoyi.web.domain.ErpMaterialInfo">
        <include refid="selectErpMaterialInfo"/>
        where m.material_type = #{materialType}
    </select>
    <select id="selectByMouldNumber" resultType="com.ruoyi.web.domain.ErpMaterialInfo">
        <include refid="selectErpMaterialInfo"/>
        where m.mould_number = #{mouldNumber}
        limit 1
    </select>
</mapper>