<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.ErpOrdersMapper">
    
    <resultMap type="ErpOrders" id="ErpOrdersResult">
        <result property="id"    column="id"    />
        <result property="innerId"    column="inner_id"    />
        <result property="outerId"    column="outer_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="operator"    column="operator"    />
        <result property="quantity"    column="quantity"    />
        <result property="deliveryDeadline"    column="delivery_deadline"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="status"    column="status"    />
        <result property="customerId"    column="customer_id"    />
        <result property="productId"    column="product_id"    />
        <result property="productionId"    column="production_id"    />
        <result property="purchaseId"    column="purchase_id"    />
        <result property="subcontractId"    column="subcontract_id"    />
        <result property="remark"    column="remark"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectErpOrdersVo">
        select
            o.id as id,
            o.inner_id as inner_id,
            o.outer_id as outer_id,
            o.create_time as create_time,
            o.operator as operator,
            o.quantity as quantity,
            o.delivery_deadline as delivery_deadline,
            o.delivery_time as delivery_time,
            o.status as status,
            o.customer_id as customer_id,
            o.product_id as product_id,
            o.production_id as production_id,
            o.purchase_id as purchase_id,
            o.subcontract_id as subcontract_id,
            o.remark as remark,
            o.update_time as update_time,
            c.name as customer_name
        from erp_orders o
                 left join erp_customers c on o.customer_id = c.id
    </sql>

    <select id="selectErpOrdersList" parameterType="ErpOrders" resultMap="ErpOrdersResult">
        <include refid="selectErpOrdersVo"/>
        <where>
            <if test="id != null "> and o.id = #{id}</if>
            <if test="innerId != null "> and o.inner_id like CONCAT('%', #{innerId}, '%')</if>
            <if test="outerId != null "> and o.outer_id like CONCAT('%', #{outerId}, '%')</if>
            <if test="operator != null "> and o.operator like concat('%',#{operator},'%')</if>
            <if test="quantity != null "> and o.quantity = #{quantity}</if>
            <if test="deliveryDeadline != null "> and DATE(o.delivery_deadline) = DATE(#{deliveryDeadline})</if>
            <if test="deliveryTime != null "> and o.delivery_time = #{deliveryTime}</if>
            <if test="status != null "> and o.status = #{status}</if>
            <if test="customerId != null "> and o.customer_id = #{customerId}</if>
            <if test="productId != null "> and o.product_id = #{productId}</if>
            <if test="productionId != null "> and o.production_id = #{productionId}</if>
            <if test="purchaseId != null "> and o.purchase_id = #{purchaseId}</if>
            <if test="subcontractId != null "> and o.subcontract_id = #{subcontractId}</if>
            <if test="remark != null "> and o.remark like CONCAT('%',#{remark},'%')</if>
            <if test="customerName != null "> and c.name like CONCAT('%',#{customerName},'%')</if>
            <if test="createTimeFrom != null">
                and o.create_time >= #{createTimeFrom}
            </if>
            <if test="createTimeTo != null">
                and o.create_time &lt;= #{createTimeTo}
            </if>
            <if test="approved != null">
                <if test="approved">
                    and o.status > 0
                </if>
                <if test="!approved">
                    and o.status &lt;= 0
                </if>
            </if>
        </where>
    </select>
    
    <select id="selectErpOrdersById" parameterType="Long" resultMap="ErpOrdersResult">
        <include refid="selectErpOrdersVo"/>
        where o.id = #{id}
    </select>
    <select id="selectErpOrdersListByIds" resultType="com.ruoyi.web.domain.ErpOrders">
        <include refid="selectErpOrdersVo"/>
        where o.id in
        <foreach item="item" collection="array" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </select>
    <select id="selectOrdersProducts" resultType="com.ruoyi.web.domain.ErpOrdersProduct">
        select id, orders_id, product_id, quantity from erp_orders_product where orders_id = #{ordersId}
    </select>
    <select id="selectErpOrdersByInnerId" resultType="com.ruoyi.web.domain.ErpOrders">
        <include refid="selectErpOrdersVo"/>
        where inner_id = #{innerId}
    </select>
    <select id="selectErpOrdersByOuterId" resultType="com.ruoyi.web.domain.ErpOrders">
        <include refid="selectErpOrdersVo"/>
        where outer_id = #{outerId}
    </select>
    <select id="getStatusValue" resultType="java.lang.Integer">
        select cast(dict_value as int) from sys_dict_data
        where dict_type = 'erp_order_status' and dict_label = #{label}
    </select>
    <select id="getStatusLabel" resultType="java.lang.String">
        select dict_label from sys_dict_data
        where dict_type = 'erp_order_status' and dict_value = #{value}
    </select>
    <select id="getMaxStatusValue" resultType="java.lang.Integer">
        select max(cast(dict_value as int)) from sys_dict_data
        where dict_type = 'erp_order_status'
    </select>
    <select id="getMinStatusValue" resultType="java.lang.Integer">
        select min(cast(dict_value as int)) from sys_dict_data
        where dict_type = 'erp_order_status'
    </select>
    <select id="getOrderCount" resultType="java.lang.Long">
        select count(*) from erp_orders
    </select>
    <select id="getDeliveredOrderCount" resultType="java.lang.Long">
        select count(*) from erp_orders
        where delivery_time is not null
    </select>
    <select id="getPunctualOrderCount" resultType="java.lang.Long">
        select count(*) from erp_orders
        where delivery_time is not null and delivery_time &lt;= delivery_deadline
    </select>
    <select id="getOrderStatusCount" resultType="com.ruoyi.web.result.OrderStatisticsResult$StatusCouunt">
        select status, count(*) as count from erp_orders
        group by status
    </select>

    <insert id="insertErpOrders" parameterType="ErpOrders" useGeneratedKeys="true" keyProperty="id">
        insert into erp_orders
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="innerId != null">inner_id,</if>
            <if test="outerId != null">outer_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="operator != null">operator,</if>
            <if test="quantity != null">quantity,</if>
            <if test="deliveryDeadline != null">delivery_deadline,</if>
            <if test="deliveryTime != null">delivery_time,</if>
            <if test="status != null">status,</if>
            <if test="customerId != null">customer_id,</if>
            <if test="productId != null">product_id,</if>
            <if test="productionId != null">production_id,</if>
            <if test="purchaseId != null">purchase_id,</if>
            <if test="subcontractId != null">subcontract_id,</if>
            <if test="remark != null">remark,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="innerId != null">#{innerId},</if>
            <if test="outerId != null">#{outerId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="operator != null">#{operator},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="deliveryDeadline != null">#{deliveryDeadline},</if>
            <if test="deliveryTime != null">#{deliveryTime},</if>
            <if test="status != null">#{status},</if>
            <if test="customerId != null">#{customerId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="productionId != null">#{productionId},</if>
            <if test="purchaseId != null">#{purchaseId},</if>
            <if test="subcontractId != null">#{subcontractId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>
    <insert id="insertOrdersProducts">
        insert into erp_orders_product (orders_id, product_id, quantity) values
        <foreach item="item" collection="list" separator="," index="">
            (#{item.ordersId}, #{item.productId}, #{item.quantity})
        </foreach>
    </insert>

    <update id="updateErpOrders" parameterType="ErpOrders">
        update erp_orders
        <trim prefix="SET" suffixOverrides=",">
            <if test="innerId != null">inner_id = #{innerId},</if>
            <if test="outerId != null">outer_id = #{outerId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="operator != null">operator = #{operator},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="deliveryDeadline != null">delivery_deadline = #{deliveryDeadline},</if>
            <if test="deliveryTime != null">delivery_time = #{deliveryTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="customerId != null">customer_id = #{customerId},</if>
            <if test="productId != null">product_id = #{productId},</if>
            <if test="productionId != null">production_id = #{productionId},</if>
            <if test="purchaseId != null">purchase_id = #{purchaseId},</if>
            <if test="subcontractId != null">subcontract_id = #{subcontractId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteErpOrdersById" parameterType="Long">
        delete from erp_orders where id = #{id}
    </delete>

    <delete id="deleteErpOrdersByIds" parameterType="String">
        delete from erp_orders where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="clearOrdersProducts">
        delete from erp_orders_product where orders_id = #{ordersId};
    </delete>
    <delete id="clearOrdersProductsByProduct">
        delete from erp_orders_product where product_id = #{productId};
    </delete>
</mapper>