<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.ErpPurchaseOrderMapper">

    <select id="selectUrl" resultType="java.lang.String" parameterType="java.lang.Integer">
        select invoice_url from erp_purchase_order_invoice where order_id=#{order_id}
    </select>
    <!--CREATE TABLE `erp_purchase_order` (-->
    <!--`id` int NOT NULL COMMENT '主键',-->
    <!--`purchase_id` int NOT NULL COMMENT '采购计划表id',-->
    <!--`amount` double NOT NULL COMMENT '金额(元)',-->
    <!--PRIMARY KEY (`id`)-->
    <!--) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_bin COMMENT='采购单表'-->


    <sql id="selectErpPurchaseOrder">
        select id, purchase_id, amount from erp_purchase_order
    </sql>
    <select id="selectErpPurchaseOrderListByIds" resultType="com.ruoyi.web.domain.ErpPurchaseOrder">
        <include refid="selectErpPurchaseOrder"/>
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>