<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.web.mapper.ErpPurchaseInfoMapper">
    
    <resultMap type="ErpPurchaseInfo" id="ErpPurchaseInfoResult">
        <id property="id" column="id" />
        <result property="purchaseCode"    column="purchase_code"    />
        <result property="pictureUrl"    column="picture_url"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="materialId"    column="material_id"    />
        <result property="supplier"    column="supplier"    />
    </resultMap>

    <sql id="selectErpPurchaseInfoVo">
        select id, purchase_code, picture_url, unit_price, material_id, supplier from erp_purchase_info
    </sql>

    <select id="selectErpPurchaseInfoList" parameterType="ErpPurchaseInfo" resultMap="ErpPurchaseInfoResult">
        <include refid="selectErpPurchaseInfoVo"/>
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="purchaseCode != null  and purchaseCode != ''"> and purchase_code = #{purchaseCode}</if>
            <if test="pictureUrl != null  and pictureUrl != ''"> and picture_url = #{pictureUrl}</if>]
            <if test="unitPrice != null "> and unit_price = #{unitPrice}</if>
            <if test="materialId != null and materialId != ''"> and material_id = #{material_id}</if>
            <if test="supplier != null  and supplier != ''"> and supplier = #{supplier}</if>
        </where>
    </select>
    
    <select id="selectErpPurchaseInfoById" parameterType="String" resultMap="ErpPurchaseInfoResult">
        <include refid="selectErpPurchaseInfoVo"/>
        where id = #{id}
    </select>
    <select id="selectErpPurchaseInfoListByIds" resultType="com.ruoyi.web.domain.ErpPurchaseInfo">
        <include refid="selectErpPurchaseInfoVo"/>
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertErpPurchaseInfo" parameterType="com.ruoyi.web.domain.ErpPurchaseInfo" useGeneratedKeys="true" keyProperty="id">
        insert into erp_purchase_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="purchaseCode != null">purchase_code,</if>
            <if test="pictureUrl != null">picture_url,</if>
            <if test="unitPrice != null">unit_price,</if>
            <if test="materialId != null">materialId,</if>
            <if test="supplier != null">supplier,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="purchaseCode != null">#{purchaseCode},</if>
            <if test="pictureUrl != null">#{pictureUrl},</if>
            <if test="unitPrice != null">#{unitPrice},</if>
            <if test="materialId != null">#{materialId},</if>
            <if test="supplier != null">#{supplier},</if>
         </trim>
    </insert>

    <update id="updateErpPurchaseInfo" parameterType="ErpPurchaseInfo">
        update erp_purchase_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="purchaseCode != null">purchase_code = #{purchaseCode},</if>
            <if test="pictureUrl != null">picture_url = #{pictureUrl},</if>
            <if test="unitPrice != null">unit_price = #{unitPrice},</if>
            <if test="materialId != null">material_id = #{materialId},</if>
            <if test="supplier != null">supplier = #{supplier},</if>
        </trim>
        where id  = #{id}
    </update>

    <delete id="deleteErpPurchaseInfoById" parameterType="Long">
        delete from erp_purchase_info where id = #{id}
    </delete>

    <delete id="deleteErpPurchaseInfoByIds" parameterType="Long">
        delete from erp_purchase_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteByMaterialIds">
        delete from erp_purchase_info where material_type in (
            select material_type from erp_material_info
            where id in
            <foreach item="id" collection="array" separator="," open="(" close=")">
                #{id}
            </foreach>
        )
    </delete>
</mapper>