<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.web.mapper.ErpProductionScheduleMapper">
    <select id="listProductionScheduleMaterialIds" resultType="java.lang.Long">
        select material_id from erp_production_schedule_material
        where production_schedule_id = #{productionScheduleId}
    </select>
    <delete id="clearProductionScheduleMaterialIds">
        delete from erp_production_schedule_material
        where production_schedule_id = #{productionScheduleId}
    </delete>
    <insert id="insertProductionScheduleMaterialIds">
        insert into erp_production_schedule_material(production_schedule_id, material_id)
        values
        <foreach item="item" index="index" collection="materialIds" separator=",">
            (#{productionScheduleId}, #{item})
        </foreach>
    </insert>
</mapper>